@import "./var";

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: var(--third-col);
    color: var(--secondary-col);
    font-family: var(--main-font);

    .head {
        box-sizing: border-box;
        padding: 25px;
        width: 100vw;
        text-align: center;
        background-color: var(--primary-col);
        color: var(--primary-col);

        h1 {
            color: #fff;
            font-size: 50px;
            padding-bottom: 10px;

            .schaar {
                color: var(--primary-col);
                background-color: var(--secondary-col);
                border-radius: 5px;
                padding: 4px 10px;
            }
        }

        h3 {
            font-size: 14px;
            font-style: italic;
            color: var(--accent-col);
            margin-top: 15px;

            .fill {
                color: var(--primary-col);
                background-color: var(--secondary-col);
                border-radius: 3px;
                padding: 2px 5px;
            }
        }
    }

    .container {
        padding: 10px;
        margin: 80px auto;
        display: flex;
        flex-direction: column;

        .buttongroup {
            display: flex;
            align-content: space-between;

            img {
                width: 10vw;
                align-self: center;
                padding: 20px 0px;
            }

            .card {
                display: flex;
                flex-direction: column;
            }
        }

        .button {
            margin: 0.5vw;
            width: 22vw;
            align-content: center;
            padding: 2vh 4vw;
            color: var(--primary-col);
            background-color: var(--secondary-col);
            font-size: 30px;
            font-weight: bold;
            transition: 0.2s;
            border-radius: 2px;
            border: 0px;
            outline: none;
        }

        .choice {
            &:focus {
                font-size: 34px;
                /* border: 2px solid var(--accent-col); */
                border-radius: 15px;
                background-color: var(--primary-col);
                color: var(--accent-col);
            }
        }

        .play {
            width: auto;
            transition: 0.1s;
            color: var(--accent-col);

            &:active {
                border-radius: 15px;
                background-color: var(--accent-col);
                border: 1px solid var(--primary-col);
                font-size: 34px;
                color: var(--primary-col);
            }
        }
        .result {
            width: auto;
            color: white;
            background-color: red;
            font-size: 20px;
            text-transform: capitalize;
        }

        /* .button:hover {
            font-size: 34px;
            border: 2px solid var(--secondary-col);
            border-radius: 15px;
            background-color: var(--primary-col);
            color: var(--secondary-col);
        } */
    }
}

@media screen and (max-width: 730px) {

    .container {
        .buttongroup {
            flex-direction: column;

            .card {
                width: 70vw;
                display: flex;

                .button {
                    width: auto;
                }
            }

        }

        #play {
            color: white;
            margin-top: 6vh;
            width: auto;

            &:active {
                color: var(--primary-col);
            }
        }




    }
}